$background-primary: #829999;
$background-secondary: #A1AAAA;
$background-dark: #202020;
$background-code: $background-dark;
$color-primary: #00FF00;
$color-secondary: #000000;
$text-primary: darken($color-primary, 20%);
$font-primary: monospace;
